datasets/*
*checkpoint*/*
__pycache__/*
*log*/*
*.png
*.jpg

*/log*/*
*/__pycache__/*
*/train/*

*/*/*log*/*
*/*/*.h5
*/*/*.csv
*/*/*checkpoint*/*
*/*/__pycache__/*
model_example/4.Unet/Unet/*
Unet_small_trt/*
Unet_small/*
*.zip
*.h5
documents/mine.md
